[submodule "Projetos/Tindev"]
	path = Projetos/Tindev
	url = https://github.com/rt-oliveira/Tindev
[submodule "Projetos/ReactOlaMundo"]
	path = Projetos/ReactOlaMundo
	url = git@github.com:rt-oliveira/react-series.git
	branch = aula3-ola-mundo
[submodule "Projetos/ReactContador"]
	path = Projetos/ReactContador
	url = git@github.com:rt-oliveira/react-series.git
	branch = aula4-criar-contador
[submodule "Projetos/ReactPlacar"]
	path = Projetos/ReactPlacar
	url = git@github.com:rt-oliveira/react-series.git
	branch = aula8-props
